/* выравнивание посередине, контент занимает 70% ширины страницы  */
body {
  width: 70%;
  margin: 0 auto;
}
/* все заголовки шрифтом без засечек, верхний отступ больше нижнего */
h1,
h2,
h3 {
  font-family: sans-serif;
  margin-top: 1.5em;
}
/* заголовки первого уровня размером 32рх */
h1 {
  font-size: 32px;
}
/* таблицы имеют непрерывные границы чёрного цвета толщиной 1px. */
table,
th,
td {
  border: 1px solid black;
}
/* подписи к картинкам выполнены курсивом */
figcaption {
  font-style: italic;
}
/* Картинки обтекаются текстом. Картинки справа, текст слева. */
figure {
  float: right;
}
